<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omni Sight</title>
    <link rel="stylesheet" href="/public/css/style.css"> 
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <style>
      body {
        text-align: center;
      }
      :root{
  --header-height: 3rem;
  --font-semi: 600;
}
  /*===== Colores =====*/
  :root{
    --first-color: #4070F4;
    --second-color: #0E2431;
  }
  /*===== Fuente y tipografia =====*/
  :root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }
  /*===== Margenes =====*/
  :root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  /*===== z index =====*/
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  /*===== NAV =====*/
  .nav{
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: var(--font-semi);
    }
    @media screen and (max-width: 768px){
      .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
      }
    }
    .nav__item{
      margin-bottom: var(--mb-4);
    }
    .nav__link{
      position: relative;
      color: #fff;
    }
    .nav__link:hover{
      position: relative;
    }
    .nav__link:hover::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 0.18rem;
      left: 0;
      top: 2rem;
      background-color: var(--first-color);
    }
    .nav__logo{
      color: var(--second-color);
    }
    .nav__toggle{
      color: var(--second-color);
      font-size: 1.5rem;
      cursor: pointer;
    }
    /*Active menu*/
    .active::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 0.18rem;
      left: 0;
      top: 2rem;
      background-color: var(--first-color);
    }
    /*=== Show menu ===*/
    .show{
      right: 0;
    }
  nav ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: .3em;
  }


    </style> 
  </head>
  <body>
    <%- include('partials/alerts') %>
    <header>
      <nav>
        <ul>
          <% if (!currentUser) {%>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/userDashBoard">Your Dashboard</a></li>
          <% } %>
          <li><a href="/about">About us</a></li>
        </ul>
      </nav>
    </header> 
    <hr>      
    <%- body %>  
    <hr>
    <h3>News Feed</h3>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
